<!DOCTYPE html>
<html>

<head>
  <%- include('../includes/header.ejs') %>
  <style>
    * {
      color: red !important
    }
  </style>
</head>

<body>
  <%- include('../includes/nav.ejs') %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <form method="POST" action="/ta02/addUser" class="form1">
        <input type="text" name="username">
        <button type="submit">Submit</button>
        </form>
      </div>
    </div>
    <div class="container">
      <ul>
        <% for(user of users){ %>
          <li><%= user.username %></li>
       <% } %>
      </ul>
    </div>


</body>

</html>